.excerciseCard
{
    color: rgb(255, 255, 255);
    height: 130px;
    width: 200px;
    background-size: cover;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.excerciseCard__button
{
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background-color: blueviolet;
    height: 20px;
    width: 20px;
}

.exerciseCard__buttonContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.CustomPlanContainer
{
    padding-top: 30px;
    color: rgb(29, 29, 29);
    text-align: center;
}