.userNavigation
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #E4E5E6;
    padding: 5px;
    position: relative;
}

.userNavigation__img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.userNavigation__p
{
    margin-right: 15px;
    color: #525252;
    font-weight: 600;
}

.userNavigation__button
{
    width: 20px;
    background-color: #525252;
    padding: 3px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.dropDownMenu
{
    width: 140px;
    background-color: #525252;
    opacity: 1;
    text-align: center;
    position: absolute;
    max-height: 100%;
    right: 0px;
    z-index: 100;
    transition: 0.9s;
}

.dropDownMenu.hidden
{
    opacity: 0;
    max-height: 0%;
    transition: 0.3s;
}

.dropDownMenu__li
{
    padding: 6px;
    list-style: none;
}

.dropDownMenu__li:hover
{
    padding: 6px;
    background-color: #9b9b9b;
    cursor: pointer;
}