.userPanel
{
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
}
.userPanel__section--userData
{
    width: 100%;
    color: #000000;
    padding: 4%;
}
hr
{
    margin-top: 6px;
    border-top: 1px solid #E4E5E6;
}
.userPanel__section--chart
{
    width: 100%;
    display: flex;
    max-height: 500px;
    justify-content: center;
}

.userPanel__section--cards
{
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}