.userPanel
{
    display: flex;
    width: 100%;
    height: 100vh;
    margin-top: 60px;
}
.userPanel__section--userData
{
    width: 100%;
    color: #000000;
    padding: 4%;
    padding-top: 1%;
}
.userPanel__div
{
    display: flex;
    justify-content: space-around;
}

.userPanel__input
{
    height: 29px;
    width: 50px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-right: 0px;
    text-align: center;
    transition: none;
}
.userPanel__button
{
    height: 34px;
    border: 1px solid gray;
    width: 50px;
    background-color: blueviolet;
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
}

hr
{
    margin-top: 6px;
    border-top: 1px solid #E4E5E6;
}
.userPanel__section--chart
{
    width: 100%;
    display: flex;
    max-height: 500px;
    justify-content: center;
}

.userPanel__section--cards
{
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 769px) {
    .userPanel
    {
        width: 100%;
        margin-top: 80px;
    }
}

@media only screen and (max-width: 481px) {
    .userPanel
    {
        width: 100%;
    }
    .userPanel__section--userData
    {
        width: 100%;
        color: #000000;
        padding: 4%;
    }
}

